.rainbowEffect { animation-duration: 3s; animation-name: rainbowLink; animation-iteration-count: infinite; } 
            @keyframes rainbowLink {     
             0% { color: #ff2a2a; }
             15% { color: #ff7a2a; }
             30% { color: #ffc52a; }
             45% { color: #43ff2a; }
             60% { color: #2a89ff; }
             75% { color: #202082; }
             90% { color: #6b2aff; } 
             100% { color: #e82aff; }
            }
#logIn {
    border: white solid 2px;
    position:absolute;
    width: 400px; height: 600px;
    left: 0; right: 0;
    margin-left:auto; margin-right:auto;
    padding: 20px;
    float: left;
    background-color: rgba(0,174,255,0.05);
}
#fontSizing {
    text-align: center;
    font-size: 3em;
}
li {
    list-style: none;
    text-align: center;
    margin-left: -40px;
}
#textAlign {
    text-align: center;
    font-size: 2em;
}
input {
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
}
#spacing {
    margin-top: 30px;
}
body {
    background-color: #ccc;
    
}
